@model IEnumerable<arsoudeServeur.Models.Utilisateur>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courriel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codePostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anneeDeNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moisDeNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.identityUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.courriel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codePostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anneeDeNaissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moisDeNaissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.identityUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
